<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="redis_read_write_servers" value="192.168.1.198:6379" />
    <add key="redis_readonly_servers" value="192.168.1.198:6379" />
    <add key="MaxWritePoolSize" value="100" />
    <add key="MaxReadPoolSize" value="100" />
  </appSettings>
</configuration>