<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="redis_read_write_servers" value="192.168.1.16:6377" />
    <add key="redis_readonly_servers" value="192.168.1.16:6377" />
    <add key="MaxWritePoolSize" value="50" />
    <add key="MaxReadPoolSize" value="50" />
  </appSettings>
</configuration>